 @model List<RapiApiConsume.Models.Result>
@{
    Layout = null;
    int count = 0;
} 
<div class="container">
    <br /> <br />
@using (Html.BeginForm("Index", "BookingByCity", FormMethod.Post))
{
    <label>Şehir ID Bilgisi Giriniz</label>
    <input type="text" class="form-control" name="cityID" />
    <br />
    <button class="btn btn-primary ">Şehir İçin Otelleri Listele</button>
}
    <br />
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />




    <table class=" table table-bordered">
        <tr>
            <td>#</td>
            <td>Otel Adı</td>
            <td>Otel Puanı</td>
            <td>Detaylar</td>
        </tr>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.hotel_name</td>
                 <td>@item.review_score</td> 
                <td><a href="#" class="btn btn-outline-dark">Detaylar</a></td>
            </tr>
        }
    </table>
</div>
