@model UpdateServiceDto
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<form method="post">
    <input type="hidden" asp-for="ServiceId" />
    <label>
        Hizmet İconu:
        <input type="text" asp-for="ServiceIcon" class="form-control" />
        <span asp-validation-for="ServiceIcon" class="text-danger"></span>
    </label>
    <br />
    <label>
        Hizmet Başlığı:
        <input type="text" asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </label>
    <br />
    <label>
        Açıklama:
        <input type="text" asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </label>
    <br />

    <button class="btn btn-primary">Hizmet Düzenle</button>

</form>






