@model HotelProject.WUI.Dtos.BookingDto.UpdateBookingDto
@{
    ViewData["Title"] = "UpdateBooking";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Rezervasyon Güncelleme Sayfası</h1>


<form method="post">
    <input type="hidden" asp-for="BookingID" />
    <label>
        Misafir Adı Soyadı :
        <input type="text" asp-for="Name" class="form-control" />
    </label>
    <br />
    <label>
        Misafir Mail Adresi:
        <input type="email" asp-for="Mail" class="form-control" />

    </label>
    <br />
    <label>
        Misafir Giriş Tarihi :
        <input type="date" asp-for="Checkin" class="form-control" />
    </label>
    <br />
    <label>
        Misafir Çıkış Tarihi :
        <input type="date" asp-for="CheckOut" class="form-control" />
    </label>
    <br />

    <label>
        Yetişkin Sayısı :
        <input type="text" asp-for="AdultCount" class="form-control" />
    </label>
    <br />


        <label>
       Çocuk Sayısı :
        <input type="text" asp-for="ChildCount" class="form-control" />
    </label>
    <br />


    <label>
       Oda Sayısı :
        <input type="text" asp-for="RoomCount" class="form-control" />
    </label>
    <br />


    <label>
        Şehir:
        <input type="text" asp-for="City" class="form-control" />
    </label>
    <br />


    <label>
        Ülke : 
        <input type="text" asp-for="Country" class="form-control" />
    </label>
    <br />

    <label>
       Durum :
        <input type="text" asp-for="Status" class="form-control" />
    </label>
    <br />

    <label>
       Özel İstekler :
       <textarea class="form-control" rows="5" asp-for="SpecialRequest"></textarea>
    </label>
    <br />

    <label>
      Açıklama
        <textarea class="form-control" rows="5" asp-for="Description"></textarea>
    </label>
    <br />

    <button class="btn btn-primary">Rezervasyonu Güncelle</button>

</form>